<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon slot="icon-only" name="chevron-back-outline" [routerLink]="['/courses']"></ion-icon>-->
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Test</ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>