.panel {
  background-color: #e69c59;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 4px;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.exam {
  width: 90%;
  margin: auto;
  display: block  ;
}