<ion-header *ngIf="course">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" color="primary" name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title>{{ course.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>New test</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isTesting; else resultBlock">
      <ion-progress-bar *ngIf="selected" type="determinate" [value]="(current + 1)/questions.length"></ion-progress-bar>
      <ion-card class="boxed" *ngIf="current >= 0">
        <ion-card-header>
          <ion-card-subtitle>{{ getSubject(questions[current].subjectId) }}</ion-card-subtitle>
          <ion-card-title>{{ questions[current].text }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="answerVisible">
          <ion-card-subtitle>Answer</ion-card-subtitle>
          <p>{{ questions[current].answer }}</p>
        </ion-card-content>
      </ion-card>  
    </div>  
    <ng-template #resultBlock>
      <ion-card class="boxed">
        <ion-card-subtitle class="ion-text-center">Test result:</ion-card-subtitle>
          <ion-card-title class="ion-text-center result">{{ result }}</ion-card-title>
      </ion-card>
    </ng-template>
</ion-content>

<ion-footer class="ion-text-center" *ngIf="isTesting">
  <ion-button *ngIf="!answerVisible; else elseBlock" (click)="showAnswer()" color="primary">See the answer</ion-button>  

  <ng-template #elseBlock>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="medium" (click)="wasIncorrect()">I didn't know</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="success" (click)="wasCorrect()">I knew</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-footer>