<ion-header *ngIf="course && subject">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon color="primary" slot="icon-only" name="chevron-back-outline" [routerLink]="['/subject/', subject.id]"></ion-icon>
    </ion-buttons>
    <ion-title>{{ subject.name }}</ion-title>
    <ion-buttons slot="end">
      <img *ngIf="course.icon" src="/assets/icons/{{ course.icon }}" />
      <ion-icon (click)="presentActionSheet()" style="margin-right: 10px;" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="subject">

  <ion-list *ngIf="type == 'notes'">
    <ion-item button [routerLink]="'/note/' + item.id" detail *ngFor="let item of subject.getNotes()">
      <ion-label>
        {{ item.text }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="type == 'questions'">
    <ion-item button [routerLink]="'/question/' + item.id" detail *ngFor="let item of subject.getQuestions()">
      <ion-label>
        {{ item.text }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="course">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="newNote()"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="newQuestion()"><ion-icon name="help-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>    
  </ion-fab>

</ion-content>