<ion-header *ngIf="course && subject">
  <ion-toolbar>
    <ion-title>{{ subject.name }}</ion-title>
    <ion-buttons slot="end">
      <img *ngIf="course.icon" src="/assets/icons/{{ course.icon }}" />
      <ion-icon *ngIf="note.id" (click)="presentActionSheet()" style="margin-right: 10px;" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="subtitle">
    <ion-title>Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div class="form" *ngIf="edit">
    <div class="form-row">
      <label>New note:</label>
      <ion-textarea [(ngModel)]="note.text" rows="6" auto-grow="true" autofocus="true" required="true" spellcheck="true"></ion-textarea>
    </div>
    <!--<div class="actions">
        <ion-icon (click)="takePhoto()" name="camera-outline"></ion-icon>
        <ion-icon name="mic-outline"></ion-icon>
    </div>-->
    <div class="ion-text-center buttons">
      <ion-button (click)="close()" size="default" color="light">Cancel</ion-button>
      <ion-button (click)="save()" size="default" color="primary">Save</ion-button>
    </div>
  </div>
  <div *ngIf="!edit">
    <p class="note" *ngIf="note.text">{{ note.text }}</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="course && note.id">
    <ion-fab-button color="primary" (click)="close()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>