.ion-toolbar.subtitle {
  .ion-title {
    opacity: .5;
  }  
}
.actions {
  ion-icon {
    font-size:18px;
    border-radius: 100px;
    width:30px;
    height: 30px;
    background-color: #f9f9f9;
    line-height: 40px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
  }
}
.note {
  line-height: 1.5;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}
.page-title {
  font-size: 16px;
  margin-bottom: 10px;
}
h2 {
  font-size: 14px;
  margin:0;
  opacity: .7;
}
.page-header .course-icon img {
  width: 45px;
  margin-top: 24px;
}