<ion-content>
  <h1 class="page-title">My courses {{ aaa }}</h1>
  <ion-progress-bar *ngIf="items.length == 0" type="indeterminate"></ion-progress-bar>
  
  <ion-card *ngFor="let item of items" class="bg-{{ item.color }}" [routerLink]="['/courses/load', item.id]">
    <div class="meta">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p *ngIf="item.subjects; then thenBlock else elseBlock">        
        </p>
        <ng-template #thenBlock>{{ item.subjects.length }} subjects</ng-template>
        <ng-template #elseBlock>No subjects</ng-template>
      </ion-card-content>
    </div>
    <div class="icon">
      <img src="/assets/icons/{{ item.icon }}">
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/courses/add']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
