ion-card {
  box-shadow: none;  
  border-radius: 10px;
  padding-bottom: 6px;
  

  .meta {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding-top: 20px;
  }
  .icon {
    display: inline-block;
    width: 30%;
    vertical-align: top;

    img {
      margin: 20px 10px;
    }
  }
}