<ion-header *ngIf="course">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon slot="icon-only" name="chevron-back-outline" [routerLink]="['/courses']"></ion-icon>-->
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ course.name }}</ion-title>
    <ion-buttons slot="end">
      <img *ngIf="course.icon" src="/assets/icons/{{ course.icon }}" />
      <ion-icon (click)="presentActionSheet()" style="margin-right: 10px;" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="course">  
  <h4>Subjects</h4>
  <ion-searchbar *ngIf="subjects && subjects.length > 8"></ion-searchbar>

  <ion-chip color="warning" *ngIf="!subjects || subjects.length == 0">
    <ion-label>No subjects yet!</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item  button [routerLink]="['/subject/', subject.id]" *ngFor="let subject of subjects">
      <ion-label>
        {{ subject.name }}        
      </ion-label>
      <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="course">
    <ion-fab-button color="primary" (click)="presentNewSubject()">
      <ion-icon color="white" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
