@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/PlayfairDisplay-Bold.ttf');
}