@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Baloo2-Regular.ttf');
}
@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Baloo2-SemiBold.ttf');
}
@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Baloo2-Bold.ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/FiraSans-Regular.ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/FiraSans-Medium.ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/FiraSans-Bold.ttf');
}