
ion-title, h1, h2, h3, h4 {
  font-family: Fira Sans;
  font-weight: 500;
}
ion-card { 
  ion-card-title {
    font-family: Fira Sans;
    font-weight: 500;
  }
}
ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
}
ion-button {
  box-shadow: none !important;
  --box-shadow: none;
}
.sc-ion-input-md-h {
  --background: rgba(220, 233, 233, 0.4);
  height: 50px;
}
.item-label-floating.sc-ion-input-md-h, 
.item-label-floating .sc-ion-input-md-h, 
.item-label-stacked.sc-ion-input-md-h, 
.item-label-stacked .sc-ion-input-md-h {
  margin-top: 10px;
}
.label-floating.sc-ion-label-md-h, 
.label-stacked.sc-ion-label-md-h {
  font-size: 20px;
}
.bg-pink {
  background-color: #F5D1D0;
}
.bg-green {
  background-color: #DDE9E9;
}
.bg-aqua {
  background-color: #CAECF2;
}
.bg-blue {
  background-color: #BDD2EE;
}
ion-header {
  img {
    width: 30px;
    margin-right: 10px;
  }
}
.subtitle ion-title {
  opacity: .5;
}     
.page-title {
  margin-bottom: 40px;
  margin-top: 8px;
}
ion-card {
  margin-left: 0;
  margin-right: 0;
}
.page-header {
  padding: 16px;
  display: flex;
  flex-direction: row;

  .meta {
    width: 60%;
  }
  .course-icon {
    width: 38%;
    text-align: right;

    img {
      width: 80px;   
      margin-top:20px;   
    }
  }
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: 100px;
  box-shadow: none;
  border: 1px solid #ccc;
}

.boxed {
  padding: 26px 12px;
  background: #fff;
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.05) 0 0 20px;
}

.form {
  margin-top: 24px;
  
  .form-row {
    margin-bottom: 20px;
    width: 100%;
    padding: 16px 8px;
    background: #fff;
    border-radius: 4px;
    box-shadow:rgba(0, 0, 0, 0.05) 0 0 20px;

    &.no-bg {
      background-color: transparent;
    }
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  input[type="text"] {
    background: rgba(220, 233, 233, 0.4);
    height: 50px;
    display: block;
    border:0;
    width: 100%;
    display: block;
    border-bottom: 2px solid rgba(220, 233, 233, 0.8);;
  }
}
.icons {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;

  .icon {
    width: 25%;
    display: inline-block;
    position: relative;

    b {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -24px 0 0 -25px;
      font-size: 26px;
      z-index: 1;
      background-color: rgba(255, 255, 255, .7);
      width:50px;
      height: 50px;
      line-height: 63px;
      border-radius: 100px;      
      text-align: center;
      font-size: 40px;
      color: rgb(21, 2, 2);
    }

    img {
      margin: 8px;
      top: 3px;
      position: relative;
    }

    &.color {
      img {
        width: 80%;
      }
    }
  }
}

.buttons {
  margin-top: 50px;
}
.big-button {
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 17px;
  color: #666;
}
.note {
  line-height: 1.5;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}
.header-md:after {
  display: none;
}

ion-fab {
  ion-fab-button {
    --box-shadow: none;
  }
}
ion-fab {
  ion-fab-button {
    --box-shadow: none;
  }
}
.with-tabs ion-fab {
  bottom:70px;
}
ion-header {
  --ion-color-base: #fff;
  box-shadow: rgba(0,0,0,.12) 0 0 20px;
  margin-bottom: 20px;
}
.item-detail-icon {
  color:#e69c59;
}
.icon-inner {
  color: #fff !important;
}
:host {
  .ionicon {
    stroke: #fff;
  }
}