<ion-header>
  <ion-toolbar>
    <ion-title>Add new course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <div class="form-row">
      <label>New course name:</label>
      <input type="text" placeholder="Enter course name" required [(ngModel)]="course.name" />
    </div>
    <div class="form-row">
      <label>Choose icon:</label>
      <div class="icons">
        <span class="icon {{ icon == course.icon ? 'selected' : '' }}" *ngFor="let icon of icons">
          <b *ngIf="icon == course.icon">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </b>
          <img src="/assets/icons/{{ icon }}" (click)="selectIcon(icon)">
        </span>      
      </div>
    </div>
    <!--<div class="form-row">
      <label>Choose color:</label>
      <div class="icons">
        <span class="icon color" *ngFor="let color of colors">
          <b *ngIf="color == course.color">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </b>
          <img src="/assets/colors/{{ color }}.png" (click)="selectColor(color)">
        </span>
      </div>
    </div>-->
    <div class="ion-text-center no-bg">
      <ion-button [routerLink]="['/courses']" size="default" color="light">Cancel</ion-button>
      <ion-button (click)="save()" size="default" color="primary">Save</ion-button>
    </div>
  </div>
</ion-content>