<ion-header>
  <ion-toolbar>
    <ion-nav>
      
    </ion-nav>
    <ion-title>Add new course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">New course name:</ion-label>
    <ion-input required [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/courses']" size="default" color="light">Cancel</ion-button>
    <ion-button (click)="save()" size="default" color="primary">Save</ion-button>
  </ion-item>
</ion-content>