<ion-header *ngIf="course && subject">
  <ion-toolbar color="{{ course.color }}">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="chevron-back-outline" [routerLink]="['/courses/load/' + course.id]"></ion-icon>
    </ion-buttons>
    <ion-title>{{ course.name }}</ion-title>
    <ion-buttons slot="end">
      <img *ngIf="course.icon" src="/assets/icons/{{ course.icon }}" />
      <ion-icon (click)="presentActionSheet()" style="margin-right: 10px;" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="subtitle" color="{{ course.color }}">
    <ion-title>{{ subject.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="subject == null" type="indeterminate"></ion-progress-bar>
  <ion-segment scrollable="true" value="{{ currentView }}" (ionChange)="filter($event)">
    <ion-segment-button value="notes">
      <ion-label>Notes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="questions">
      <ion-label>Questions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mind-maps">
      <ion-label>Mind maps</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="subject">
    <ion-item button (click)="openNote(item)" detail *ngFor="let item of notes">
      <ion-label>
        {{ item.text }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="course">
    <ion-fab-button color="{{ course.color }}">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="newNote()"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="newQuestion()"><ion-icon name="help-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="git-network-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="askDelete()" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>    
  </ion-fab>
</ion-content>